{{- if .Values.env.mlflow.trackingPasswordSecretValue }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ml-model-chart.fullname" . }}-mlflow-credentials
  labels:
    app: {{ include "ml-model-chart.name" . }}
    release: {{ .Release.Name }}
type: Opaque
stringData:
  {{ .Values.env.mlflow.trackingPasswordSecretKey | default "password" }}: {{ .Values.env.mlflow.trackingPasswordSecretValue | quote }}
{{- end }}
