{{- if .Values.env.adminTokenSecretValue }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ml-model-chart.fullname" . }}-admin-token
  labels:
    app: {{ include "ml-model-chart.name" . }}
    release: {{ .Release.Name }}
  {{- if .Values.env.adminTokenSecretAnnotations }}
  annotations:
{{ toYaml .Values.env.adminTokenSecretAnnotations | indent 4 }}
  {{- end }}
type: Opaque
stringData:
  {{ .Values.env.adminTokenSecretKey | default "token" }}: {{ .Values.env.adminTokenSecretValue | quote }}
{{- end }}
