{{- /* 
  SECRET MANAGEMENT NOTE:
  This template is kept for reference only. Secrets must be created externally using one of:
  1. External Secrets Operator (recommended) - see externalsecret-admin-token.yaml
  2. Sealed Secrets - create a SealedSecret CRD that will create this Secret
  3. kubectl - manually create the secret: kubectl create secret generic <name> --from-literal=token=<value>
  
  For Sealed Secrets workflow:
  - Create a SealedSecret resource with the same name as adminTokenSecretName
  - The Sealed Secrets controller will decrypt and create the Secret automatically
  - Example SealedSecret annotation: sealedsecrets.bitnami.com/managed: "true"
  
  This template does not create any resources by default.
*/}}
